bot:
  token:
  prefix:
  server:
    resourceGroup:
    name:
  easterEggs:
    replyEgg:
      lookFor:
      sayStart:
      sayEnd:
      tagUser:
      replyTo:
  conversation:
    url:
    token:
    topK:
    topP:
    temperature:
    repetitionPenalty:
    contextLength:
  dj:
    youtubeToken:
